# --- SYS FILES & IDE ---
.git/
.gitignore
.dockerignore
.idea/
.vscode/
.DS_Store
Thumbs.db
README.md
LICENSE
compose.yaml
docker-compose.*

# --- Front (Web) ---
web/node_modules/
web/dist/
web/build/
web/coverage/
web/.env*

# --- Back (Api) ---
api/vendor/
api/var/
api/tests/
api/phpunit.xml.dist
api/.phpunit.result.cache
api/.env.local
api/.env.*.local