# --- SYS FILES & IDE ---
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp

# --- PROJET FILES ---
node_modules/
dist/
build/
coverage/
logs/
*.log
.env
*.env.local
*.env.development
*.env.test
*.env.production
